

header {
	display: flex;
	background-color: #FFF;
	padding:5px 20px;
	width:100%;
	max-width:1300px;
	margin:0 auto;
}
header .logo{
	width:200;
	height:60px;
}
header .search{
	display: flex;
	flex:1;
}
header .search input{
	flex:1;
	margin:10px 0 0 20px;
	padding:10px 10px 10px 30px;
	border-radius:50px 0 0 50px;
	border:0;
	outline: none;
	font-size:120%;
	height:20px;
	border: 1px solid rgba(34, 34, 34, 0.15);
	border-right:0;
}
header .search button{
	background-color: #FFF;
	border-radius:0 50px 50px 0;
	border:0;
	cursor:pointer;
	padding-right:20px;
	font-size:120%;
	height:42px;
	margin-top:10px;
	border: 1px solid rgba(34, 34, 34, 0.15);
	border-left:0;
}
header .connexion button{
	font-weight:bold;
	border:0;
	margin:20px 10px 0 10px;
	cursor:pointer;
	padding:5px 10px;
	border-radius:10px;
	background-color:#FFF;
	width: 110px;
}
header .connexion button:hover{
	background-color:#EEE;
	transition: background-color 300ms ease-in-out;
}

.main{
	max-width:1300px;
	margin:0 auto;
	width: 100%;
}

footer{
	background-color:#FDEBD2;
	flex:1;
}
footer .content{
	color:#222;
	padding:20px 0;
	max-width:1300px;
	margin:0 auto;
}