.wrapper{
background-color:#DDEBE3;
}
ul{
	list-style:none;
	padding:10px;
	margin:0;
	
	color:#333;

	max-width:1300px;
	margin:0 auto;	
}
ul li{
	display:inline;
}
ul li a {
  color: #333;
  text-decoration: underline;
  font-weight: bold;
}
ul li+li:before {
  padding: 8px;
  color: #222;
  content: "/\00a0";
}
